


.logo {
    /* height: 15vw; */
    max-height: 160px;
}

.tarjetita {
    /* width: 30vh; */
}

.card {
    height: 100%;
}

.ulloca {
    padding: 0;
}

.ulloca li a {
    margin: 0 5vw;
}


@media (max-width: 388px) {
    .logo {
        max-height: 120px;
    }
}