


.logo {
    max-height: 160px;
}


.card {
    height: 100%;
}

.ulloca {
    padding: 0;
}

.ulloca li a {
    margin: 0 5vw;
}

footer {
    width: 100%;
}

@media (max-width: 388px) {
    .logo {
        max-height: 120px;
    }
}